:root {
  --background-light: #fff;
  --background-dark: #0f0e0e;
  --text-light: #000;
  --text-dark: #fff;

  --background: var(--background-light);
  --text: var(--text-light);
  --only-dark-mode-display: none;
  --only-light-mode-display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  color-scheme: light;
}

html,
body,
button,
code {
  font-family: "Inconsolata Variable", "Inconsolata-fallback-1", "Inconsolata-fallback-2", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --text: var(--text-dark);
    --only-dark-mode-display: block;
    --only-light-mode-display: none;
  }
}

body.dark-mode {
  --background: var(--background-dark);
  --text: var(--text-dark);
  --only-dark-mode-display: block;
  --only-light-mode-display: none;
}

body.light-mode {
  --background: var(--background-light);
  --text: var(--text-light);
  --only-dark-mode-display: none;
  --only-light-mode-display: block;
}

body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.25s;
}

h2 {
  font-weight: 600;
  font-size: 1.1em;
}

a {
  color: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--text);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#light-switch {
  position: absolute;
  top: 10px;
  right: 10px;
}

#light-switch .light-icon {
  display: var(--only-dark-mode-display);
}
#light-switch .night-icon {
  display: var(--only-light-mode-display);
}

#light-switch svg {
  width: 24px;
  height: 24px;
}

#light-switch svg path {
  fill: var(--text);
}

.news {
  border: 1px solid var(--text);
}
