---
import Header from "../components/Header.astro";
import RecentPosts from "../components/RecentPosts.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Paul Guilbert | Software engineer at Back Market">
  <main>
    <div class="flex flex-col justify-center items-center min-h-svh">
      <div class="flex flex-col gap-4 p-3">
        <Header />
        <RecentPosts />
      </div>
    </div>
  </main>
</Layout>
