---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Paul Guilbert | Software engineer at Back Market">
  <main class="container">
    <img src="/me.jpg" alt="" class="profile-img" aria-hidden="true" />
    <h1>
      Paul Guilbert <small>
        - Software engineer at <a href="https://www.backmarket.com/" target="_blank">
          Back Market
        </a>.
      </small>
    </h1>

    <div class="links">
      <a href="https://www.linkedin.com/in/paulguilbert/" target="_blank">Linkedin</a>
      <a href="https://twitter.com/GuilbertPaul" target="_blank">Twitter</a>
      <a href="https://hachyderm.io/@pguilbert" target="_blank">Mastodon</a>
      <a href="https://github.com/pguilbert" target="_blank">Github</a>
    </div>

    <section class="news">
      <h2>NEWS</h2>
      <ul>
        <li>
          <a
            href="https://engineering.backmarket.com/payment-at-back-market-one-form-to-rule-them-all-e34b1a7cf044"
            >2023 - <span class="name">Payment at Back Market: one form to rule them all</span>
            <span class="url" aria-hidden="true">(https://engineering.backmarket.com)</span></a
          >
        </li>
      </ul>
    </section>
  </main>
</Layout>
