---

---

<img src="/me.webp" alt="" class="rounded-full" width="150" height="150" />
<h1 class="text-[2em] font-bold">
  Paul Guilbert <small>
    - Software engineer at <a href="https://www.backmarket.com/" target="_blank" class="underline">
      Back&nbsp;Market</a
    >.
  </small>
</h1>

<nav class="underline flex gap-4">
  <a href="https://www.linkedin.com/in/paulguilbert/" target="_blank">Linkedin</a>
  <a href="https://bsky.app/profile/pguilbert.dev" target="_blank">Bluesky</a>
  <a href="https://github.com/pguilbert" target="_blank">Github</a>
</nav>
