---

---

<section class="news flex flex-col p-4 mt-12 gap-4 border-black dark:border-white border">
  <h2 class="text-lg font-semibold">recent posts:</h2>
  <ul class="flex flex-col gap-2">
    <li>
      > <a href="https://dev.to/pguilbert/a-remplacement-for-typescript-enums-4705"
        ><span class="underline">An alternative solution to Typescript enums</span>
        <span class="text-xs" aria-hidden="true">(https://dev.to)</span></a
      >
    </li>
    <li>
      > <a
        href="https://engineering.backmarket.com/payment-at-back-market-one-form-to-rule-them-all-e34b1a7cf044"
        ><span class="underline">Payment at Back Market: one form to rule them all</span>
        <span class="text-xs" aria-hidden="true">(https://engineering.backmarket.com)</span></a
      >
    </li>
  </ul>
</section>
