---
import LightSwitch from "../components/LightSwitch.astro";
import "../styles/font.css";
import "../styles/main.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.svg" />

    <title>{title}</title>
    <meta
      name="description"
      content="
    I am a software engineer at Back Market. I work in the payment team, creating and improving the payment experience for Back Market's customers. I have a strong background in creating web, mobile, and desktop applications, as well as building web services. In the past, I had the opportunity to be a Microsoft Student Partner, which gave me the chance to engage with students interested in Microsoft technologies and organize related events."
    />
    <meta
      name="keywords"
      content="Paul Guilbert, software engineer, software developer, payment, payments, Back Market, Idéine, Improveeze, Lille, Arras, web, mobile, desktop, applications, web services, Microsoft, Microsoft Student Partner, MSP, React, Typescript, VueJs, dotnet"
    />
  </head>

  <body class="dark:bg-[#0f0e0e] dark:text-white transition-[background-color]">
    <slot />
    <LightSwitch />
  </body>
</html>
